@use '../../helpers/variables' as *;

.mapSection{
  font-family: $trebuchet;
}
.mapImage {
  display: block;
  width: 100%;
  height: 460px;
  object-fit: contain;
  transform: scale(1); 
  margin: 1rem auto; 
}

.title {
  text-align: center;
  font-family: $trebuchet;
  font-size: 2rem; 
  margin: 1rem auto; 
  padding: 0; 
}

.directionSection {
  text-align: center;
  font-family: $trebuchet;
  margin: 1rem auto; 
  font-size: 1.2rem; 
}

@media (max-width: 768px) {
  .mapImage {
    transform: scale(1); 
    margin: 1rem auto;
  }

  .title {
    font-size: 1.5rem; 
    margin: 1rem auto; 
  }

  .directionSection {
    margin: 1rem auto; 
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .mapImage {
    transform: scale(1);
    margin: 1rem auto; 
  }

  .title {
    font-size: 1.2rem; 
    margin: 1rem auto; 
    padding: 0; 
  }

  .directionSection {
    margin: 1rem auto; 
    font-size: 0.9rem; 
  }
}
